<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>New Penguin</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script>
      $(document).ready(function(){

      })
    </script>
  </head>
  <body>
  <% if(messages.registration) { %>
     <% for (var x of messages.registration) { %>
      <h3><%= x %></h3>
     <% } %>
 <% } %>
    <h1> Create a New Penguin </h1>
    <form action=/penguins method=POST>
        Name: <input type=text name=name>
        Species: <input type=text name=species>
        Age: <input type=text name=age>
        Location: <input type=text name=location>
        <input type=submit>
    </form>
  </body>
</html>
